*{
    box-sizing: border-box;
    padding:0;
    margin:0;   
}
body{
    height: 100vh;

}
.card{
    height: 180px;
    width: 120px;
    background-color: paleturquoise;
    text-align: start;
    padding: 1rem;

}
main{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
gap: 15px;
padding: 1rem;

}
dialog::backdrop {
    background-color: hsl(250, 100%, 50%, 0.25);
  }
dialog{
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
form{
    display: flex;
    flex-direction: column;
}