*{
    box-sizing: border-box;
    padding:0;
    margin:0;   
}
body{
    height: 100vh;
    background-color: cadetblue;

}
button{
    padding: 5px 3px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.card{
    height: 200px;
    width: 180px;
    background-color: paleturquoise;
    text-align: start;
    padding: 1rem;
    display: grid;
    gap: 20px;
    border-left: 5px solid orange;
    box-shadow: 0 8px 2px -2px gray;


}
main{
padding: 30px;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
gap: 20px 30px;


}
dialog::backdrop {
    background-color: hsl(250, 100%, 50%, 0.25);
  }
dialog{
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
header{
    display: flex;
    justify-content: center;
    padding: 1rem;
}